.SwitchSection * {
    box-sizing: border-box;
}

.SwitchSection {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
    box-sizing: border-box;
    width: 100%;
}

.SwitchSection > .title {
    width: 80px;
    display: inline-block;
    font-size: var(--theme-font-size-s);
    font-weight: var(--theme-font-medium-plus);
    color: var(--theme-font-main-selected-color);
    line-height: 120%;
    text-align: left;
}

.SwitchSection > .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
}

.SwitchSection > .wrapper.top-margin {
    margin-top: 8px;
}

.SwitchSection > .wrapper > .box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.SwitchSection > .wrapper .label {
    font-size: var(--theme-font-size-s);
    font-weight: var(--theme-font-regular);
    color: var(--theme-font-unselected-color);
    line-height: 120%;
    text-align: center;
}

/* inputs section */
.SwitchSection .flex-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 9px;
    width: 100%;
}

.SwitchSection .flex-inputs > .input-wrapper {
    position: relative;
}

.SwitchSection .flex-inputs > .input-wrapper > input {
    padding: 6px 7px 6px 22px;
}
