.assets-list .assets-item .delete-button {
    top: 8px;
    right: 0px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    display: none;
}

.assets-list .assets-item:hover .delete-button {
    display: block;
}

.assets-list .assets-item .delete-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
