.PrimaryCheckbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}
.PrimaryCheckbox > .circle {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.PrimaryCheckbox:hover > .circle,
.PrimaryCheckbox > .circle.active {
    background: var(--theme-icon-properties-selected-color);
}

.PrimaryCheckbox > .label {
    color: var(--theme-font-unselected-color);
    font-weight: var(--theme-font-regular);
    font-size: var(--theme-font-size-s);
}
